@import "bootstrap";
/*bs menu override*/
	#navbar1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue";
    background-color: #f1f1f1;
    text-decoration: none;
}

	#navbar1 li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    font-size: 17px;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue";
    font-weight: bold;
    text-decoration: none;
}

/* Change the link color on hover */
	#navbar1 li a:hover {
    background-color: #555;
    color: white;
    text-decoration: none;
}